body{
    font-family: Arial, Helvetica, sans-serif;
    background: #b60353;
    padding: 0;
    margin:0;
    
}

.container{
    width: 50%;
    height: auto;
    text-align: center;
    background: rgb(247, 186, 213);
    margin:auto;
    margin-top: 5px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-weight: bold;
}
.logo {
    font-size: 70px;
    padding: 30px 0 30px 10px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #b30a53;
    border: 2px solid rgb(0, 0, 0);
    font-size: 30px;
}

nav li {
    float: left;
    
}

nav li a{
    display: inline-block;
    color:#070707;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

nav li a:hover {
    opacity:0.9;
    background-color: #ffffff;
}

article {
    width: 98.8%;
    height: auto;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    border: 2px solid rgb(0, 0, 0);
    clear: both;
}

article p {
    padding: 10px 10px 10px 10px;
    line-height: 1.5;  
}
article .konten {
    width: 30%;
    height: auto;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid rgb(10, 10, 10);
    float: left;
}

article .isi {
    width: 98.5%;
    height: auto;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
}
article .isi .judul {
    font-size: xx-large;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
article .isi p {
    margin-top: 0;
}
article .isi img {
    float:right;
    margin: 10px 10px 10px 10px;
}

article .konten img {
    width: 85%;
    height: 250px;
    margin: 10px 15px 20px 10px;

}
article .konten:hover {
    opacity:0.9;

}
article .konten .judul a {
    margin-left: 5px;
    text-decoration: none;
    font-size:x-large;
    color:#020101;
}

article .konten a:hover {
    opacity:0.9;
}

footer {
    clear: both;
    width: 98.8%;
    height: auto;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border-bottom: 1px solid gainsboro;
    padding-top: 15px;
    padding-bottom: 15px;  
}